body {
  background-color: #0a192f !important;
}

nav {
  font-weight: 500;
}
nav > div {
  margin: 0.5rem;
}

nav div a {
  text-decoration: none;
  color: white;
}

#navbar {
  background-color: rgba(10, 25, 37, 0.7);
}
#greeting {
  letter-spacing: 2px;
}

hr {
  color: white !important;
}

#profile-image {
  height: 240px;
  width: 240px;
}

#name {
  font-size: 100px;
}
.sixtyfour-name {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  font-size: 50px;
}

#web-developer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://bairesdev.mo.cloudinary.net/blog/2023/09/How-Many-Web-Developers-in-the-World-1.jpg?tx=w_3840,q_auto);
  background-size: cover;
  background-repeat: no-repeat;
}

#check-button {
  font-size: 20px;
  font-weight: 200px;
  border-radius: 30px;
  background-color: #0a192f;
  color: white;
  border-color: white;
}

#check-button:hover {
  background-color: white;
  color: black;
  border-color: #0a192f;
}
section div #projects {
  letter-spacing: 10px !important;
}

#full-stack {
  letter-spacing: 3px;
}

#nav-collapse {
  background-color: rgba(10, 25, 37, 0.5) !important;
}

#offcanvasDarkNavbar {
  background-color: rgba(10, 25, 37, 0.5) !important;
}

#center-logo {
  margin-left: 1rem;
}

input {
  text-align: center;
}
#skill-header,
h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

form label,
form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

iframe {
  height: 560px;
  width: 100%;
  border-radius: 10px;
}

#footer {
  margin-top: 5px;
}
#exampleModalLabel {
  letter-spacing: 0px;
}

#apiImg,
#reactImg {
  height: 280px;
  width: 100%;
}
#exampleModalLabel {
  text-transform: none;
}
.project-img {
  border-radius: 10px;
}
#viber {
  height: 50px;
  width: 50px;
}
#telegram {
  height: 85px;
  width: 85px;
}
#facebook {
  height: 60px;
  width: 60px;
}

.hidden {
  opacity: 0;
}

.collapse {
  width: 0;
  transition: 5s;
}

.slide-left {
  position: relative;
  left: -10000px;
  -webkit-animation: slide-left 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide-left 1s forwards;
}

@-webkit-keyframes slide-left {
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  100% {
    left: 0;
  }
}

.slide-right {
  position: relative;
  left: 5000px;
  -webkit-animation: slide-right 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide-right 1s forwards;
}

@-webkit-keyframes slide-right {
  100% {
    left: 0;
  }
}

@keyframes slide-right {
  100% {
    left: 0;
  }
}
